:root {
	--pm-primary-color-green: #55f3b4;
	--pm-primary-color-yellow: #fcfca4;
	--pm-primary-color-red: #ffa07a;
	--pm-primary-color-blue: #6F9DF9;
	--pm-primary-color-grey: #a9a9a9;
	--pm-secondary-color-grey: #c0c0c0;
}