body { margin: 0;}

* {
	box-sizing: border-box;
}

.row::after {
	content: "";
	clear: both;
	display: table;
}

[class*="col-"] {
	float: left;
	padding: 15px;
}

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

[class*="h"].container-header { text-align:center; }

.container {
	padding: 20px;
	margin-top: 30px;
}

table.rounded {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-style: hidden;
}
table.rounded th:first-child {
	border-radius: 10px 0px 0px 0px;
}
table.rounded th:last-child {
	border-radius: 0px 10px 0px 0px;
}
table.rounded tr:last-child td:first-child {
	border-radius: 0px 0px 0px 10px;
}
table.rounded tr:last-child td:last-child {
	border-radius: 0px 0px 10px 0px;
}
table.rounded th, td {
	border-collapse: collapse;
	border-bottom: 0.5px solid #000000;
	text-align: center;
	padding: 10px;
}

.pm-tab {
	overflow: hidden;
	border: 1px solid #ccc;
	padding: 6px;
	border-radius: 10px 10px 0px 0px;
	text-align: center;
}

.pm-tab-default {
	background-color: #f1f1f1;
}

.pm-button {
	cursor: pointer;
	float: center;
	border: 0.5px solid #c0c0c0;
	padding: 8px 16px;
	margin-right: 6px;
	font-size: 12px;
	border-radius: 10px;
	outline: 0;
	box-shadow: 0 2px 4px #c0c0c0;
	background-color: #FFFFFF;
}

.pm-button:hover {
	background-color: #DCDCDC;
}

.pm-button-green {
	background-color: #2FCB8D;
	border: 0.5px solid #2E8B57;
	box-shadow: 0 2px 4px #2E8B57;
}

.pm-button-green:hover {
	background-color: #3CB371;
}

.pm-button-yellow {
	background-color: #FFFF99;
	border: 0.5px solid #C2C72B;
	box-shadow: 0 2px 4px #C2C72B;
}

.pm-button-yellow:hover {
	background-color: #FFFF00;
}

.pm-button-red {
	background-color: #FD7D56;
	border: 0.5px solid #C7502B;
	box-shadow: 0 2px 4px #C7502B;
}

.pm-button-red:hover {
	background-color: #F08080;
}

.notebox {
	position: relative;
	border: 2px solid #c0c0c0;
	border-radius: 10px;
	background-color: #dcdcdc;
	width: 100%;
	overflow: auto;
	margin-bottom: 20px;
}

.notebox > .notebox-content {
	padding-left: 10px;
}

.notebox > .notebox-header-large {
	font-weight: bold;
	width: 100%;
	background-color: #c0c0c0;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #c0c0c0;
}

.notebox > .notebox-header {
	font-style: italic;
	text-align: right;
	width: 100%;
	background-color: #c0c0c0;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid #c0c0c0;
}

.notebox > .notebox-footer {
	font-style: italic;
	font-size: 75%;
	text-align: center;
	float: right;
	width: 40%;
	background-color: #c0c0c0;
	padding: 2px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px 0px 0px 0px;
	border-top: 2px solid #c0c0c0;
	border-left: 2px solid #c0c0c0;
}

table.rounded-grey th {
	background-color: #d3d3d3;
}
table.rounded-grey td, table.rounded-green td, table.rounded-red td, table.rounded-yellow td {
	background-color: #f1f1f1;
}

table.rounded-green th, .pm-tab-green, .notebox > .notebox-header-green {
	background-color: #55F3B4;
}
div.notebox-green {
	background-color: #f0fff0;
}

table.rounded-yellow th, .pm-tab-yellow, .notebox > .notebox-header-yellow {
	background-color: #FCFCA4;
}
div.notebox-yellow {
	background-color: #fffff0;
}

table.rounded-red th, .pm-tab-red, .notebox > .notebox-header-red{
	background-color: #FFA07A;
}
div.notebox-red {
	background-color: #ffe4e1;
}

html, body {
	height: 100%;
	margin-top: 0;
	margin-bottom: 0;
}

.frame iframe {
	width: 100%;
	height: calc(100% - 70px);
}

.frame {
	height: 100%;
}

.tabcontent {
	display: none;
	padding: 12px 12px;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}

ul.menubar {
	list-style-type: none;
	margin: 0;
	padding: 5px 10px;
	overflow: hidden;
	background-color: #a9a9a9;
	position: fixed;
	top: 0;
	width: 100%;
}

ul.menubar.radius { border-radius: 0px 0px 10px 10px; }

@media screen and (max-width: 600px) {
	ul.menubar {
		list-style-type: none;
		margin: 0;
		padding: 5px 10px;
		overflow: hidden;
		background-color: #a9a9a9;
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
	}
	
	ul.menubar.radius { border-radius: 10px 10px 0px 0px; }
}

li.menulink {
	float: left;
}

li.loglink {
	float: right;
}

li.menulink a, li.loglink a {
	background-color: #a9a9a9;
	padding: 10px;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	border-radius: 10px;
}

li.menulink a.active, li.loglink a.active {
	background-color: #909090;
}

li.menulink a:hover, li.loglink a:hover {
	background-color: #808080;
}

.dropdownbutton {
	background-color: #a9a9a9;
	display: block;
	color: #ffffff;
	border: none;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
	border-radius: 10px;
	padding: 8px;
	font: inherit;
	font-size: inherit;
}

li.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	list-style-type: none;
	margin: 0;
	display: none;
	position: absolute;
	overflow: hidden;
	top: 45px;
	width: 100%;
	background-color: #c0c0c0;
	border-radius: 0px 0px 10px 10px;
}

.dropdown-content a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: #c0c0c0;
	padding: 10px 20px;
	border-radius: 10px;
	color: #ffffff;
	float: left;
}

@media screen and (max-width: 600px) {
	.dropdown-content {
		list-style-type: none;
		margin: 0;
		display: none;
		position: absolute;
		overflow: hidden;
		top: auto;
		bottom: 50px;
		width: 100%;
		background-color: #c0c0c0;
		border-radius: 10px 10px 0px 0px;
	}
}

.show { display:block; }