@import url("base.css");

hr.pm-line {
	border: 1.5px solid var(--pm-secondary-color-grey);
	border-radius: 4px;
}

.pm-tab {
	border: 2px solid var(--pm-secondary-color-grey);
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px 10px 10px 10px;
}

.pm-tab-left {
	text-align: left;
}

.pm-tab-right {
	text-align: right;
}

.pm-tab-default {
	background-color: #f1f1f1;
}

.pm-tab-green {
	background-color: var(--pm-primary-color-green);
}

.pm-tab-yellow {
	background-color: var(--pm-primary-color-yellow);
}

.pm-tab-red {
	background-color: var(--pm-primary-color-red);
}

.pm-tab-blue {
	background-color: var(--pm-primary-color-blue);
}

/* Various Dropdown Things */

.pm-navbar ul ul, .pm-headercontent ul ul {
	display: none;
}

.pm-navbar ul li:hover > ul, .pm-headercontent ul li:hover > ul {
	display: block;
}

.pm-navbar ul, .pm-headercontent ul {
	list-style: none;
	position: relative;
	display: inline-table;
	width: 100%;
}

.pm-navbar ul:after, .pm-headercontent ul:after {
	content: "";
	clear: both;
	display: block;
}

.pm-navbar ul li {
	float: left;
}

.pm-navbar ul li:last-child {
	float: right;
}

.pm-navbar ul li a, .pm-navbar ul li button {
	display: block;
}

.pm-navbar ul ul, .pm-headercontent ul ul {
	position: absolute;
	width: 0;
}

.pm-navbar ul ul li {
	float: left;
	position: relative;
}

li .first {
	border-radius: 10px 10px 0px 0px;
}

li .last {
	border-radius: 0px 0px 10px 10px;
}

.pm-notification-badge:after {
	content: attr(note-data);
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	display: block;
	border-radius: 50%;
	background: salmon;
	border: 0.5px solid #C3618C;
	box-shadow: 0 2px 4px #A85F7F;
	position: absolute;
	right: -10px;
	top: -7px;
	overflow: hidden;
}

.pm-label-info {
	margin: 10px;
	background-color: var(--pm-secondary-color-grey);
	font: inherit;
	font-size: 90%;
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.message-container {
	margin-left: 6%;
}

.pm-message {
	width: 100%;
	background-color: var(--pm-primary-color-grey);
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
	margin-right: 10px;
	float: left;
}

@media screen and (max-width: 600px) {
	.pm-message {
		float: left;
		width: 40%
	}
}

@media screen and (max-width: 600px) {
	.pm-message {
		float: left;
		width: 100%
	}
}

.pm-message-green {
	background-color: var(--pm-primary-color-green);
	box-shadow: 0 2px 4px #2e8b57;
}

.pm-message-yellow {
	background-color: var(--pm-primary-color-yellow);
	box-shadow: 0 2px 4px #c2c72b;
}

.pm-message-red {
	background-color: var(--pm-primary-color-red);
	box-shadow: 0 2px 4px #A85F7F;
}

.pm-message-blue {
	background-color: var(--pm-primary-color-blue);
	box-shadow: 0 2px 4px #4664A1;
}

.tabcontent {
	display: none;
	padding: 12px 12px;
}

ul.menubar {
	list-style-type: none;
	margin: 0;
	padding: 5px 10px;
	overflow: hidden;
	background-color: var(--pm-primary-color-grey);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
	z-index: 999;
}

ul.menubar.radius { border-radius: 0px 0px 10px 10px; }

@media screen and (max-width: 600px) {
	ul.menubar li.menulink {
		display: none;
	}
}

/*
@media screen and (max-width: 600px) {
	ul.menubar {
		list-style-type: none;
		margin: 0;
		padding: 5px 10px;
		overflow: hidden;
		background-color: var(--pm-primary-color-grey);
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
		box-shadow: 0 0 4px 2px var(--pm-secondary-color-grey);
		z-index: 1;
	}

	ul.menubar.radius { border-radius: 10px 10px 0px 0px; }
}
 */

li.menulink {
	float: left;
}

li.home {
	float: left;
	font-weight: bold;
}

li.loglink {
	float: right;
}

li.userlink {
	float:right;
}

li.menulink a, li.loglink a, li.home a {
	background-color: var(--pm-primary-color-grey);
	padding: 10px;
	color: var(--pm-background-color-yellow);
	display: inline-block;
	text-decoration: none;
	border-radius: 10px;
}

li.menulink a.active, li.loglink a.active {
	background-color: #909090;
}

li.menulink a:hover, li.loglink a:hover {
	background-color: #808080;
}

li.userlink a {
	padding: 10px;
	display: inline-block;
	color: white;
}

.dropdown-content {
	list-style-type: none;
	margin: 0;
	display: none;
	position: absolute;
	overflow: hidden;
	top: 45px;
	width: 100%;
	background-color: var(--pm-secondary-color-grey);
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
}

.dropdown-content a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: var(--pm-secondary-color-grey);
	padding: 10px 20px;
	border-radius: 10px;
	color: #ffffff;
	float: left;
}

@media screen and (max-width: 600px) {
	.dropdown-content {
		list-style-type: none;
		margin: 0;
		display: none;
		position: absolute;
		overflow: hidden;
		top: auto;
		bottom: 50px;
		width: 100%;
		background-color: var(--pm-secondary-color-grey);
		border-radius: 10px 10px 0px 0px;
		box-shadow: 0 0 4px 2px var(--pm-secondary-color-grey);
	}
}

.searchbar {
	float:left;
	padding-top:7px;
	width: 400px;
}

@media screen and (max-width: 1000px) {
	.searchbar {
		padding-left: 10px;
		margin-left: 10px;
		padding-right: 5px;
		width: 25%;
	}

	input {
		width: 200px;
	}

	.pm-button-extra-small {
		display: none;
	}
}

.show { display:block; }

.pm-navigation-line {
	list-style: none;
	background-color: var(--pm-secondary-color-grey);
	border-radius: 10px;
	padding: 5px;
	padding-left: 20px;
	float: left;
	width: 100%;
}

.pm-navigation-line li {
	display: block;
	float: left;
	padding-right: 5px;
}
.pm-navigation-line li:before {
	content: "‣ ";
}

.pm-pagination {
	list-style: none;
	background-color: var(--pm-secondary-color-grey);
	margin-top: 10px;
	padding: 5px;
	border-radius: 10px;
	overflow: auto;
	text-align: center;
}

.pm-pagination li {
	display: inline-block;
}

.pm-pagination li.previous {
	float: left;
}

.pm-pagination li.cardinality {
	padding-top: 10px;
}

.pm-pagination li.next {
	float: right;
}

.container-paginaton {
	width: 40%;
	padding: 0px 45px;
	margin: auto;
}

@media screen and (max-width: 900px) {
	.container-paginaton {
		width: 60%;
	}
	body {
		margin-top: 0;
	}
	.notebox {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 600px) {
	.container-paginaton {
		width: 100%;
	}
}

.pm-image-box {
	background-size: 100%;
	padding: 0;
	height: 80%;
	overflow: hidden;
	position: relative;
}

.pm-item-cell-home:hover > .pm-image-box {
	height: 30%;
}

img.pm-interface-image {
	width: 180;
}

.pm-centered-image-header {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	width: 100%;
	text-align:center;
	color:var(--bd-background-color);
	background-color:var(--bd-detail-color);
	padding-top: 5px;
	padding-bottom: 5px;
}

.pm-item-cell-home {
	text-align:left;
	height:240px;
	width:180px;
	overflow:hidden;
}

@media screen and (max-width: 600px) {
	.pm-interface-image {
		width: 100%;
	}

	.pm-item-container-mobile {
		padding: 0;
		padding-top: 10px;
	}

	.notebox-decoration-pm-mobile {
		border-radius: 10px;
	}

	.pm-item-cell-home-mobile {
		width: 100%;
		margin-bottom: 10px;
	}
	.notebox-content-pm-mobile {
		border: none;
		padding:0px;
	}
}
