@import url("base.css");

.pm-tab {
	border: 2px solid var(--pm-secondary-color-grey);
	padding-top: 6px;
	padding-bottom: 6px;
	border-radius: 10px 10px 0px 0px;
}

.pm-tab-left {
	text-align: left;
}

.pm-tab-right {
	text-align: right;
}

.pm-tab-default {
	background-color: #f1f1f1;
}

.pm-tab-green {
	background-color: var(--pm-primary-color-green);
}

.pm-tab-yellow {
	background-color: var(--pm-primary-color-yellow);
}

.pm-tab-red {
	background-color: var(--pm-primary-color-red);
}

.pm-tab-blue {
	background-color: var(--pm-primary-color-blue);
}

.pm-button {
	cursor: pointer;
	float: center;
	border: 0.5px solid var(--pm-secondary-color-grey);
	padding: 8px 16px;
	font-size: 12px;
	border-radius: 10px;
	outline: 0;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
	background-color: #ffffff;
	margin: 5px;
	position: relative;
}

.pm-button a {
	color: #000000;
}

.pm-button:hover {
	background-color: var(--pm-button-color-hover);
}

.pm-button-green {
	background-color: #2fcb8d;
	border: 0.5px solid #2e8b57;
	box-shadow: 0 2px 4px #2e8b57;
}

.pm-button-green:hover {
	background-color: #3cb371;
}

.pm-button-yellow {
	background-color: #ffff99;
	border: 0.5px solid #c2c72b;
	box-shadow: 0 2px 4px #c2c72b;
}

.pm-button-yellow:hover {
	background-color: #ffff00;
}

.pm-button-red {
	background-color: #fd7d56;
	border: 0.5px solid #c7502b;
	box-shadow: 0 2px 4px #c7502b;
}

.pm-button-red:hover {
	background-color: #f08080;
}

.pm-button-blue {
	background-color: #69A0F2;
	border: 0.5px solid #5378C1;
	box-shadow: 0 2px 4px #4664A1;
}

.pm-button-blue:hover {
	background-color: #6999DF;
}

.pm-button-magenta {
	background-color: #DA6D9C;
	border: 0.5px solid #C3618C;
	box-shadow: 0 2px 4px #A85F7F;
}

.pm-button-magenta:hover {
	background-color: #D5578D;
}

.pm-button-link {
	color: #000000;
}

.pm-button-link:hover {
	color: #000000;
}

.pm-navbar ul ul {
	display: none;
}

.pm-navbar ul li:hover > ul {
	display: block;
}

.pm-navbar ul {
	list-style: none;
	position: relative;
	display: inline-table;
	margin: none;
	width: 100%;
}

.pm-navbar ul:after {
	content: "";
	clear: both;
	display: block;
}

.pm-navbar ul li {
	float: left;
}

.pm-navbar ul li:last-child {
	float: right;
}

.pm-navbar ul li a, .pm-navbar ul li button {
	display: block;
}

.pm-navbar ul ul {
	position: absolute;
	top: 100%;
}

.pm-navbar ul ul li {
	float: left;
	position: relative;
}

.pm-button-dropdown:after {
	content: " ▾";
}

.pm-dropped-button {
	cursor: pointer;
	float: center;
	width: 120px;
	border: none;
	border-left: 0.5px solid var(--pm-secondary-color-grey);
	border-right: 0.5px solid var(--pm-secondary-color-grey);
	padding: 8px 16px;
	font-size: 12px;
	outline: 0;
	background: none;
	background-color: #ffffff;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
	position: relative;
	color: #000000;
}

.pm-dropped-button:hover {
	background-color: var(--pm-button-color-hover);
}

li .first {
	border-radius: 10px 10px 0px 0px;
}

li .last {
	border-radius: 0px 0px 10px 10px;
}

.pm-notification-badge:after {
	content: attr(note-data);
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
	display: block;
	border-radius: 50%;
	background: salmon;
	border: 0.5px solid #C3618C;
	box-shadow: 0 2px 4px #A85F7F;
	position: absolute;
	right: -10px;
	top: -7px;
	overflow: hidden;
}

.pm-label-info {
	margin: 10px;
	background-color: var(--pm-secondary-color-grey);
	font: inherit;
	font-size: 90%;
	float: right;
	padding: 5px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.message-container {
	margin-left: 6%;
}

.pm-message {
	width: 30%;
	background-color: var(--pm-primary-color-grey);
	border-radius: 10px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
	margin-bottom: 10px;
	margin-right: 10px;
	float: left;
}

@media screen and (max-width: 800px) {
	.pm-message {
		float: left;
		width: 40%	
	}
}

@media screen and (max-width: 600px) {
	.pm-message {
		float: left;
		width: 100%	
	}
}

.pm-message-green {
	background-color: var(--pm-primary-color-green);
	box-shadow: 0 2px 4px #2e8b57;
}

.pm-message-yellow {
	background-color: var(--pm-primary-color-yellow);
	box-shadow: 0 2px 4px #c2c72b;
}

.pm-message-red {
	background-color: var(--pm-primary-color-red);
	box-shadow: 0 2px 4px #A85F7F;
}

.pm-message-blue {
	background-color: var(--pm-primary-color-blue);
	box-shadow: 0 2px 4px #4664A1;
}

.pm-close-button {
	float: right;
	background-color: inherit;
	border: none;
	text-align: center;
}

.tabcontent {
	display: none;
	padding: 12px 12px;
	border: 1px solid #ccc;
	border-top: none;
	border-radius: 0px 0px 10px 10px;
}

ul.menubar {
	list-style-type: none;
	margin: 0;
	padding: 5px 10px;
	overflow: hidden;
	background-color: var(--pm-primary-color-grey);
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
	z-index: 1;
}

ul.menubar.radius { border-radius: 0px 0px 10px 10px; }

@media screen and (max-width: 600px) {
	ul.menubar li.menulink {
		display: none;
	}
}

/* 
@media screen and (max-width: 600px) {
	ul.menubar {
		list-style-type: none;
		margin: 0;
		padding: 5px 10px;
		overflow: hidden;
		background-color: var(--pm-primary-color-grey);
		position: fixed;
		top: auto;
		bottom: 0;
		width: 100%;
		box-shadow: 0 0 4px 2px var(--pm-secondary-color-grey);
		z-index: 1;
	}
	
	ul.menubar.radius { border-radius: 10px 10px 0px 0px; }
}
 */

li.menulink {
	float: left;
}

li.home {
	float: left;
	font-weight: bold;
}

li.loglink {
	float: right;
}

li.menulink a, li.loglink a, li.home a {
	background-color: var(--pm-primary-color-grey);
	padding: 10px;
	color: #ffffff;
	display: inline-block;
	text-decoration: none;
	border-radius: 10px;
}

li.menulink a.active, li.loglink a.active {
	background-color: #909090;
}

li.menulink a:hover, li.loglink a:hover {
	background-color: #808080;
}

.dropdown-content {
	list-style-type: none;
	margin: 0;
	display: none;
	position: absolute;
	overflow: hidden;
	top: 45px;
	width: 100%;
	background-color: var(--pm-secondary-color-grey);
	border-radius: 0px 0px 10px 10px;
	box-shadow: 0 2px 4px var(--pm-secondary-color-grey);
}

.dropdown-content a {
	text-decoration: none;
	display: inline-block;
	text-align: center;
	background-color: var(--pm-secondary-color-grey);
	padding: 10px 20px;
	border-radius: 10px;
	color: #ffffff;
	float: left;
}

@media screen and (max-width: 600px) {
	.dropdown-content {
		list-style-type: none;
		margin: 0;
		display: none;
		position: absolute;
		overflow: hidden;
		top: auto;
		bottom: 50px;
		width: 100%;
		background-color: var(--pm-secondary-color-grey);
		border-radius: 10px 10px 0px 0px;
		box-shadow: 0 0 4px 2px var(--pm-secondary-color-grey);
	}
}

.show { display:block; }

.pm-navigation-line {
	list-style: none;
	background-color: var(--pm-secondary-color-grey);
	border-radius: 10px;
	padding: 5px;
	padding-left: 20px;
	float: left;
	width: 100%;
}

.pm-navigation-line li {
	display: block;
	float: left;
	padding-right: 5px;
}
.pm-navigation-line li:before {
	content: "‣ ";
}

.pm-pagination {
	list-style: none;
	background-color: var(--pm-secondary-color-grey);
	margin-top: 10px;
	padding: 0px;
	border-radius: 10px;
	overflow: auto;
	text-align: center;
}

.pm-pagination li {
	display: inline-block;
}

.pm-pagination li.previous {
	float: left;
}

.pm-pagination li.cardinality {
	padding-top: 10px;
}

.pm-pagination li.next {
	float: right;
}

.container-paginaton {
	width: 40%;
	padding: 0px 45px;
	margin: auto;
}

@media screen and (max-width: 900px) {
	.container-paginaton {
		width: 60%;
	}
	body {
		margin-top: 0;
	}
	.notebox {
		margin-bottom: 0px;
	}
}

@media screen and (max-width: 600px) {
	.container-paginaton {
		width: 100%;
	}
}