@import url("base.css");

table.rounded, table.notebox {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border-style: hidden;
}

.rounded-bottom-wrapper {
	border-left: 2px solid var(--pm-border-color);
	border-right: 2px solid var(--pm-border-color);
	border-bottom: 2px solid var(--pm-border-color);
	border-radius: 0 0 10px 10px;
	overflow-x: auto;
}

.flexible-table {
	overflow-x: auto;
}

table.rounded-bottom {
	width: 100%;
	border-collapse: collapse;
	border-style: hidden;
}

table.rounded-bottom th, table.rounded th {
	background-color: var(--pm-table-header-grey);
}

table.rounded-bottom tr:nth-child(even), table.rounded tr:nth-child(even) {
	background-color: var(--pm-table-even-grey);
}

table.rounded-bottom tr:nth-child(odd), table.rounded tr:nth-child(odd), table.notebox th {
	background-color: var(--pm-table-odd-grey);
}

table.rounded th:first-child {
	border-radius: 10px 0px 0px 0px;
}

table.rounded th:last-child {
	border-radius: 0px 10px 0px 0px;
}

table.rounded tr:last-child td:first-child, table.rounded-bottom tr:last-child td:first-child {
	border-radius: 0px 0px 0px 10px;
}

table.rounded tr:last-child td:last-child, table.rounded-bottom tr:last-child td:last-child {
	border-radius: 0px 0px 10px 0px;
}

table.rounded th, table.rounded td, table.notebox th, table.notebox td, table.rounded-bottom td, table.rounded-bottom th {
	border-collapse: collapse;
	border: 0.5px solid var(--pm-border-color-dark);
	text-align: left;
	padding: 7px;
}

table.notebox th, table.notebox td {
	padding-left: 20px;
	padding-right: 20px;
}

table.no-vertical-border th, table.no-vertical-border td {
	border: none;
	border-bottom: 0.5px solid var(--pm-border-color-dark);
}

table th.sortable-down a:after {
	font-size: 9px;
	content: " ▼"
}
table th.sortable-up a:after {
	font-size: 10px;
	content: " ▲"
}

.notebox {
	position: relative;
	border: 2px solid var(--pm-secondary-color-grey);
	border-radius: 10px;
	width: 100%;
	overflow: auto;
}

.notebox > table.notebox {
	margin-bottom: 0;
}

.notebox > .notebox-content {
	padding: 0 20px;
	padding-top:20px;
	padding-bottom:20px;
}

.notebox > .notebox-decoration-default {
	width: 100%;
	background-color: var(--pm-secondary-color-grey);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid var(--pm-secondary-color-grey);
}

.notebox > .notebox-decoration-large {
	font-weight: bold;
	width: 100%;
	background-color: var(--pm-secondary-color-grey);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid var(--pm-secondary-color-grey);
}

.notebox > .notebox-decoration-info {
	font-style: italic;
	text-align: right;
	width: 100%;
	background-color: var(--pm-secondary-color-grey);
	padding: 5px;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid var(--pm-secondary-color-grey);
}

.notebox > .notebox-footer {
	font-style: italic;
	font-size: 90%;
	text-align: right;
	width: 100%;
	background-color: var(--pm-secondary-color-grey);
	padding: 7px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 0px 0px 0px 0px;
	border-top: 2px solid var(--pm-secondary-color-grey);
}

table.rounded tr:hover, table.notebox tr:hover, table.rounded-bottom tr:hover {
	background-color: var(--pm-table-hover);
}

table.rounded-green th, .notebox > .notebox-decoration-green {
	background-color: var(--pm-primary-color-green);
}

table.rounded-yellow th, .notebox > .notebox-decoration-yellow {
	background-color: var(--pm-primary-color-yellow);
}

table.rounded-red th, .notebox > .notebox-decoration-red {
	background-color: var(--pm-primary-color-red);
}

table.rounded-blue th, .notebox > .notebox-decoration-blue {
	background-color: var(--pm-primary-color-blue);
}

table.rounded-magenta th, .notebox > .notebox-decoration-magenta {
	background-color: var(--pm-primary-color-magenta);
}